
/* FLEX */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-c {
  align-items: center;
}

.justify-c {
  justify-content: center;
}
.justify-sb {
  justify-content: space-between;
}
.justify-sa {
  justify-content: space-around;
}
.flex-r-change{
  display: flex;
  flex-direction: row;
}
.flex-c-change{
  display: flex;
  flex-direction: column;
}



@media screen and (max-width: 980px) { 
  .flex-r-change{
    flex-direction: column;
  }
  .flex-c-change{
    flex-direction: row;
  }
  
}


/* SECTION PADDING */
.section-padding {
  padding: 8rem 0;
}
.section-padding-half {
  padding: 4rem 0;
}


/* TEXTS */
.fs-title {
  font-family: var(--font-bold);
  font-size: 2.8rem;
  letter-spacing: 1.5px;
  text-align: left;
  margin-bottom: 20px;
}

.fs-subtitle {
  font-size: 2.2rem;
  font-family: var(--font-normal);
  letter-spacing: 1px;
  font-style: italic;
  text-align: left;
  margin-bottom: 10px;
}

.fs-text-xxl {
  font-size: 2.8rem;
  margin-bottom: 10px;
}

.fs-text-xl {
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.fs-text-l {
  font-size: 2.2rem;
  margin-bottom: 10px;
}
.fs-text-s  {
  font-size: 1.5rem;
  margin-bottom: 10px;
}


.fs-text {
  font-size: 1.9rem;
  line-height: 3rem;
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 660px) { 

  .fs-title { 
    font-size: 2.2rem;
    letter-spacing: 1px;
  }

  .fs-subtitle { 
    font-size: 1.7rem;
    letter-spacing: 0.5px;
  }

  .fs-text-xxl {
    font-size: 2.2rem;
  }

  .fs-text-xl {
    font-size: 1.9rem;
  }

  .fs-text-l {
    font-size: 1.7rem;
  }

  .fs-text-s  {
    font-size: 1.2rem;
  }
  
  .fs-text {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

/* WAHTSAPP */
.w-api{
  display: none;
}
.w-desk {
  display: flex;
}

@media screen and (max-width:760px) {
  .w-api{
    display: flex;
  }
  .w-desk {
    display: none;
  }
} 
