
/* FLEX */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-c {
  align-items: center;
}

.justify-c {
  justify-content: center;
}
.justify-sb {
  justify-content: space-between;
}
.justify-sa {
  justify-content: space-around;
}
.flex-r-change{
  display: flex;
  flex-direction: row;
}
.flex-c-change{
  display: flex;
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}



/* SECTION PADDING */
.section-padding {
  padding: 8rem 0;
}
.section-padding-half {
  padding: 4rem 0;
}


/* TEXTS */

.c-primary {
  color: var(--primary-color) !important;
}
.c-secondary {
  color: var(--secondary-color) !important;
}
.c-white {
  color: var(--white-color) !important;
}
.c-dark {
  color: var(--dark-color) !important;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 800;
}


.fs-nav{
  font-size: 1.3rem;
  letter-spacing: 0.4px;
}

.fs-generalTitle {
  font-weight: 800;
  font-size: 6rem;
  text-align: justify;
  letter-spacing: 2.5px;
  padding-bottom: 20px;
}
.fs-generalSubtitle {
  font-size: 3rem;
  letter-spacing: 1px;
  text-align: justify;
}

.fs-title {
  font-weight: 800;
  font-size: 4rem;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

.fs-subtitle {
  font-size: 3rem;
  letter-spacing: 1px;
  font-style: italic;
  margin-bottom: 10px;
}



.fs-text-l {
  font-size: 2rem;
  margin-bottom: 10px;
}
.fs-text {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.fs-text-s  {
  font-size: 1.2rem;
  margin-bottom: 5px;
}



@media screen and (max-width: 1200px) {

  .fs-generalTitle {
    font-size: 5rem;
  }
  .fs-generalSubtitle {
    font-size: 2.5rem;
  }
  
  .fs-title {
    font-size: 3.8rem;
  }
  .fs-subtitle {
    font-size: 2.8rem;
  }
  
  .fs-text-l {
    font-size: 1.8rem;
  }
  .fs-text {
    font-size: 1.2rem;
  }
  .fs-text-s  {
    font-size: 1rem;
  }
}

@media screen and (max-width: 940px) {

  .flex-r-change{
    flex-direction: column;
  }
  .flex-c-change{
    flex-direction: row;
  }
  

  .fs-generalTitle {
    font-size: 4rem;
    text-align: center;
  }
  .fs-generalSubtitle {
    font-size: 2.3rem;
    text-align: center;
  }

  .fs-nav{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 640px) { 
  .fs-generalTitle {
    font-size: 3.5rem;
    text-align: center;
  }
  .fs-generalSubtitle {
    font-size: 2.3rem;
  }

  .fs-title {
    font-size: 3rem;
  }
  .fs-subtitle {
    font-size: 1.8rem;
  }
  
  .fs-text-l {
    font-size: 1.4rem;
  }
  .fs-text-s {
    font-size: 0.9rem;
  }

}

/* WAHTSAPP */
.w-api{
  display: none;
}
.w-desk {
  display: flex;
}

@media screen and (max-width:740px) {
  .w-api{
    display: flex;
  }
  .w-desk {
    display: none;
  }
} 
