.cotiza{
  background-color: var(--white-color);
  background-image: url(../../img/cot-wave1.svg), url(../../img/cot-wave2.svg);
  background-size: 120%, 120%;
  background-position: top, bottom;
  background-repeat: no-repeat;

  border-left: 8px solid var(--secondary-color);
  border-right: 8px solid var(--secondary-color);
  outline: 10px solid var(--secondary-color);
  outline-offset: -4px;
}

.cotiza-title {
  margin: 10px 80px;
  padding: 10px;

  background-color: #fcfcfcea;
  border-radius: 5px;

  .cotiza-title-img{
      padding-right: 10px;
      width: 100%;
      max-width: 400px;
      max-height: 400px;
      
      user-select: none;

      img {
          width: 100%;
          height: 100%;
      }
  }
}

.cotiza-body{
  background-color: #d7d8e9de;
  margin: 30px;
  padding: 10px;

  min-height: 44px;
  min-width: 44px;

  border-radius: 5px;
}


.cotiza-btns{
  margin-bottom: 10px;
  
  .nombre-producto{
    background-color: var(--white-color);

    flex-grow: 1;
    margin: 1.5px;
    padding: 10px;
    
    min-width: 100px;
    
    text-align: center;
    
    border-bottom: 5px solid var(--primary-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    transition: var(--transition-f);
    
    cursor: pointer;
  }

  .select{
    border-bottom: 5px solid var(--secondary-color);
    background-color: var(--primary-color);
  }

  .nombre-producto:hover,
  .nombre-producto:focus{
    background-color: var(--primary-color);
  }
}

.cotiza-forms{
  transform: scale(100%);
  opacity: 1;
  transition: all 100ms ease-in-out;

  .form-sub{ width: 90%; }
}
.animation {
  transform: scale(50%);
  opacity: 0;
}


@media screen and (max-width: 760px)  {
   
  .cotiza-title {
    margin: 10px;

    .cotiza-title-img{ padding-right: 0; }
  }
  .cotiza-body{
    margin: 10px;
  }
  .cotiza-forms{
    .form-sub{ width: 100%; }
  }
}