$bg-icons:#fcfcfc5e;

.menu i, 
.cancel i{
  font-size: 40px;
  &:before {
    border-radius: 5px;
    box-shadow: 0 0 10px 1px var($bg-icons);
    background-color: $bg-icons; 
    font-size: 40px;
  }
}
