.modal{
  position: fixed;
  width: 100%;
  height: 100%;

  background-color: #bfc1dd6b;

  .modal-container{
    padding: 5px;

    margin: 0 10px;

    background-color: var(--white-color);

    border-radius: 10px;
    box-shadow: 0 0 10px 1px var(--primary-color);

    .modal_body{
      position: relative;
      width: 100%;
      height: 100%;
      padding: 5px 15px;

      .modal_icon {
        width: 4rem;
        height: 4rem;
        &:before{
          font-size: 4rem;
          color: var(--secondary-color);
        }
      }
  
      .modal_delete:before {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2rem;

        color: var(--secondary-color);
      }

    }
  }
}